[
  {kernel, [
    {distributed, [{job_center, 1000, [jc1@localhost, {jc2@localhost, jc3@localhost},
                                       jc4@localhost]}]},
    {sync_nodes_mandatory, [jc1@localhost]},
    {sync_nodes_optional, [jc2@localhost, jc3@localhost, jc4@localhost]},
    {sync_nodes_timeout, 15000}
  ]},
 
  {kernel, [
    {logger_level, info},
    {logger, [
      {handler, default, logger_std_h,
        #{formatter => {logger_formatter,
                        #{template => [time," ",pid," ",msg,"\n"]}}}}
    ]}
  ]}
].
